body {
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans', sans-serif; 
    color: white;
    background-color: rgb(42, 50, 153);
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Alegreya SC', serif;
    font-weight: 800;
  }

  input, textarea {
   
    padding: .5rem 1rem;
    border: 0;
    border-radius: 5px;
    &:focus {
        outline: solid 2px #1670b1;
        outline-offset: 2px;
        box-shadow: inset 1px 1px 0 #1670b1,inset -1px -1px 0 #1670b1;
    }
  }

button {
  background-color: rgb(137, 154, 253);
  color: white;
  transition: background-color .3s cubic-bezier(0,1.02,.48,.98);
  border: 0;
  border-radius: 5px;
  margin-left: 10px;
  padding: 8px;
  cursor: pointer;
}


.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
